.test-randomizer {
    transform: translateX(-50%);
    left: 50%;
    width: 25vw;
}

.test-randomizer label {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    display: flex;
    align-items: center;
    gap: 2px;
}

.existing-tests {
    right: 2.5%;
    width: 25vw;
}

.existing-tests a {
    color: darkturquoise;
}

.test-randomizer input[type=checkbox] {
    appearance: none;
    width: 10px;
    height: 10px;
    outline: 1px solid white;
    transition: 0.25s;
    border-radius: 25%;
}

.test-randomizer input[type=checkbox]::after {
    content: '';
    display: inline-block;
    transform: rotate(45deg);
    height: 0;
    width: 0;
    border-bottom: 0 solid white;
    border-right: 0 solid white;
    transition: 0.25s;
}

.test-randomizer input[type=checkbox]:checked {
    background-color: black;
    outline: 1px solid gray;
}

.test-randomizer input[type=checkbox]:checked::after {
    transform: rotate(45deg) translate(-45%, -45%);;
    height: 12px;
    width: 6px;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    border-radius: 2px;
}

.user {
    left: 2.5%;
    width: 20vw;
}

.card {
    position: absolute;
    top: 12.5%;
}