#login {
    position: absolute;
    font-size: 3vmin;
    transform: translateX(-50%);
    top: 15%;
    left: 50%;
    width: 30vw;
}

input {
    font-size: 2vmin;
    background-color: transparent;
    outline: none;
    border: none;
    margin: 5% auto;
    width: 80%;
    border-bottom: 1px solid white;
}