.question {
    display: flex;
    width: 40vw;
    margin: 5% auto;
}

.options {
    margin: 5% 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.option {
    display: flex;
    align-items: center;
    margin: 1%;
    padding: 2%;
    border-radius: 10px;
    border: none;
    background-color: #00000044;
    transition: 0.2s;
    transition-delay: 0.05s;
    box-shadow: 0 0 8px #0000003e;
}

.questionContainer .option {
    cursor: pointer;
}

.questionContainer .options:not(:has(:hover))>.option:has(:checked), .questionContainer .option:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff1e;
}

.option input[type=radio] {
    appearance: none;
    outline: 1px solid white;
    border-radius: 50%;
    width: 2vmin;
    height: 2vmin;
    transition: 0.2s;
    margin-left: 1vmin;
}

.option input[type=radio]:checked {
    border: 1vmin solid rgb(126, 126, 126);
    background-color: rgb(126, 126, 126);
}

.question img {
    margin-top: 5%;
    width: 100%;
}

.selected {
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: 1px solid white;
    background-color: #ff00001e;
}

.correct {
    background-color: #00ff0030;
}

.selected::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
}

.selected:not(.correct)::after {
    animation: 0.5s twoLine forwards;
}

.selected.correct::after {
    animation: 0.5s checkmark forwards;
}

@keyframes twoLine {
    0% {
        left: 6%;
        border-left: 0 solid #ff2050;
        border-right: 0 solid #ff2050;
        width: 0.2vw;
    } 25% {
        border-left: 0.3vw solid #ff2050;
        border-right: 0.3vw solid #ff2050;
    } 100% {
        left: 6%;
        transform: rotate(45deg);
        border-left: 0.3vw solid #ff2050;
        border-right: 0.3vw solid #ff2050;
        width: 0.2vw;
        height: 1vw;
    }
}

@keyframes checkmark {
    0% {
        left: 5.5%;
        transform: rotate(45deg) translateY(-25%);
        border-bottom: 0 solid #70e000;
        border-right: 0 solid #70e000;
    } 33% {
        border-bottom: 0.3vw solid #70e000;
        border-right: 0.3vw solid #70e000;
    } 66% {
        width: 0.5vw;
    } 100% {
        left: 5.5%;
        transform: rotate(45deg) translateY(-25%);
        border-bottom: 0.3vw solid #70e000;
        border-right: 0.3vw solid #70e000;
        width: 0.5vw;
        height: 1vw;
    }
}