@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    color: white;
    font-family: 'Varela Round';
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(background.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    font-size: 3vmin;
    background-image: linear-gradient(#ffffff0e, transparent);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.314);
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1%;
}

.card * {
    font-size: 2vmin;
}

button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    margin: 10px;
    background-color: #00415a;
    padding: 0 15px;
    transition: 0.2s;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.314);
}

button:not(:disabled):not(.disabled):hover {
    background-color: #00719c;
}

button.disabled, button:disabled {
    opacity: 0.5;
    cursor: default;
}

input[type=text], input[type=password] {
    background-color: transparent;
    outline: none;
    border: none;
    margin: 5% auto;
    border-bottom: 1px solid gray;
    transition: 0.5s;
}

input[type=text]:focus, input[type=password]:focus {
    border-bottom: 1px solid white;
}

select {
    background-color: transparent;
    border: none;
}

option {
    color: black;
}

input[type=number] {
    -moz-appearance: textfield;
    border: none;
    outline: none;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.navbar {
    font-size: 1.5vw;
    position: sticky;
    display: flex;
    background-color: #ffffff1f;
    width: 100%;
    min-height: 4vw;
    backdrop-filter: blur(5px);
    box-shadow: 0 5px 5px #00000020;
    justify-content: space-evenly;
    align-items: center;
}

.gg-add-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    border-radius: 4px
   }

   
   .gg-add-r::after,
   .gg-add-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 5px;
    top: 8px;
    left: 4px
   }
   
   .gg-add-r::after {
    width: 2px;
    height: 10px;
    top: 4px;
    left: 8px
   } 

   .gg-remove-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 4px
   }
   
   .gg-remove-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 5px;
    top: 8px;
    left: 4px
   } 